@import "tailwindcss";


:root {
  --background: #384047;
  --foreground: #ededed;
  --navText: #778B9B;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navText: var(--navText);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #384047;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lexend", sans-serif;
}

